.container {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#info {
    text-align: center;
    font-size: 40px;
    margin: 20px;
}

.bottom-area {
    text-align: center;
}

#number {
    width: 50px;
    height: 40px; 
    border: grey solid 2px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
}

#minus {
    width: 50px;
    height: 40px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    background-color: grey;
    border: grey solid 2px
}

#minus:hover {
    color: grey;
    background-color: white;
}

#plus {
    width: 50px;
    height: 40px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    background-color: grey;
    border: grey solid 2px
}
#plus:hover {
    color: grey;
    background-color: white;
}